## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"],1)

C:\Users\Joey\AppData\Local\Temp\ipykernel_233084\4204700544.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN", "NAME"],1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

C:\Users\Joey\AppData\Local\Temp\ipykernel_233084\2008555003.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
neural_model = tf.keras.models.Sequential()

# First hidden layer
neural_model.add(tf.keras.layers.Dense(units=8, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
neural_model.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
neural_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
neural_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 360

 dense_1 (Dense)             (None, 16)                144

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 521 (2.04 KB)
Trainable params: 521 (2.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
neural_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = neural_model.fit(X_train,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 471us/step - loss: 19682.9375 - accuracy: 0.4855
Epoch 2/50
804/804 [==============================] - 0s 446us/step - loss: 20624.9180 - accuracy: 0.5005
Epoch 3/50
804/804 [==============================] - 0s 454us/step - loss: 18099.3418 - accuracy: 0.5008
Epoch 4/50
804/804 [==============================] - 0s 499us/step - loss: 5394.5898 - accuracy: 0.4986
Epoch 5/50
804/804 [==============================] - 0s 498us/step - loss: 21234.2930 - accuracy: 0.4926
Epoch 6/50
804/804 [==============================] - 0s 484us/step - loss: 11361.9141 - accuracy: 0.4970
Epoch 7/50
804/804 [==============================] - 0s 459us/step - loss: 12649.9385 - accuracy: 0.5220
Epoch 8/50
804/804 [==============================] - 0s 464us/step - loss: 11503.7627 - accuracy: 0.5148
Epoch 9/50
804/804 [==============================] - 0s 451us/step - loss: 7627.6245 - accuracy: 0.5159
Epoch 10/50
804/804 [==============================] - 0s 453us/step - loss: 7908.8628 - accuracy: 0.5253
Epoch 11/50
804/804 [==============================] - 0s 477us/step - loss: 8160.5366 - accuracy: 0.5182
Epoch 12/50
804/804 [==============================] - 0s 466us/step - loss: 10626.5791 - accuracy: 0.5067
Epoch 13/50
804/804 [==============================] - 0s 451us/step - loss: 4869.0200 - accuracy: 0.5301
Epoch 14/50
804/804 [==============================] - 0s 463us/step - loss: 5130.2207 - accuracy: 0.5164
Epoch 15/50
804/804 [==============================] - 0s 452us/step - loss: 6312.0757 - accuracy: 0.4907
Epoch 16/50
804/804 [==============================] - 0s 437us/step - loss: 3742.1377 - accuracy: 0.5137
Epoch 17/50
804/804 [==============================] - 0s 438us/step - loss: 4137.7314 - accuracy: 0.5032
Epoch 18/50
804/804 [==============================] - 0s 445us/step - loss: 421.8669 - accuracy: 0.5299
Epoch 19/50
804/804 [==============================] - 0s 450us/step - loss: 826.8297 - accuracy: 0.5417
Epoch 20/50
804/804 [==============================] - 0s 458us/step - loss: 924.4196 - accuracy: 0.5168
Epoch 21/50
804/804 [==============================] - 0s 443us/step - loss: 100.4060 - accuracy: 0.5017
Epoch 22/50
804/804 [==============================] - 0s 436us/step - loss: 0.7107 - accuracy: 0.5318
Epoch 23/50
804/804 [==============================] - 0s 445us/step - loss: 0.6923 - accuracy: 0.5318
Epoch 24/50
804/804 [==============================] - 0s 443us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 25/50
804/804 [==============================] - 0s 440us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 26/50
804/804 [==============================] - 0s 463us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 27/50
804/804 [==============================] - 0s 450us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 28/50
804/804 [==============================] - 0s 443us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 29/50
804/804 [==============================] - 0s 444us/step - loss: 0.6911 - accuracy: 0.5318
Epoch 30/50
804/804 [==============================] - 0s 436us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 31/50
804/804 [==============================] - 0s 443us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 32/50
804/804 [==============================] - 0s 470us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 33/50
804/804 [==============================] - 0s 476us/step - loss: 0.6911 - accuracy: 0.5318
Epoch 34/50
804/804 [==============================] - 0s 448us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 35/50
804/804 [==============================] - 0s 449us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 36/50
804/804 [==============================] - 0s 452us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 37/50
804/804 [==============================] - 0s 452us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 38/50
804/804 [==============================] - 0s 463us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 39/50
804/804 [==============================] - 0s 466us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 40/50
804/804 [==============================] - 0s 454us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 41/50
804/804 [==============================] - 0s 459us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 42/50
804/804 [==============================] - 0s 444us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 43/50
804/804 [==============================] - 0s 452us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 44/50
804/804 [==============================] - 0s 465us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 45/50
804/804 [==============================] - 0s 460us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 46/50
804/804 [==============================] - 0s 460us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 47/50
804/804 [==============================] - 0s 473us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 48/50
804/804 [==============================] - 0s 485us/step - loss: 0.6911 - accuracy: 0.5318
Epoch 49/50
804/804 [==============================] - 0s 495us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 50/50
804/804 [==============================] - 0s 446us/step - loss: 0.6912 - accuracy: 0.5318

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = neural_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.9514 - accuracy: 0.4750 - 160ms/epoch - 597us/step
Loss: 0.9514235854148865, Accuracy: 0.47498542070388794

In [16]:
# Export our model to HDF5 file
# commented out to prevent saving
neural_model.save("AlphabetSoupCharity.h5")

C:\Users\Joey\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(